@{
    ViewBag.Title = "صفحه اصلی";
}
<p>
    @Html.ActionLink("لیست نقش ها", "Index", "Role")
</p>

<div class="k-rtl">
</div>

<div id="modalWindow" style="text-align: center;">
    <div style="display: block; height: 35px; text-align: center; line-height: 30px;">
        <span>آیا از حذف اطمینان دارید؟</span>
    </div>
    <div style="display: block; text-align: center;">
        <button id="no" class="k-button">خیر</button>
        &nbsp;  &nbsp;  &nbsp;
        <button id="yes" class="k-button">بله</button>
    </div>
</div>